html {
    background:#f5f5f5;
   }

   body {
       background-color:white;
       width: 100%;
       max-width: 640px;
       margin:0 auto;
   }

   h1{
     color:white;
     text-align:center;
     font-size:35px;
     padding-top:10px;
     padding-bottom:10px;
   }

  .qui-header{
      background-color:#2bab79;
      height: 60px;
  }
  .picRouteList{
       /* border: 1px solid red; */
       margin-left: 5px;
       /* float: right; */
  }
  .pic{
      border-radius: 50%;
  }
  .bottom{
      /*border: 1px solid red;*/
      position: absolute;
      top: 365px;
      left: 385px;
  }
  .bottom2{
      /*border: 1px solid red;*/
      position: absolute;
      top: 742px;
      left: 385px;
  }
  .face{
      float: left;
      border: 1px solid white;
      width: 39px;
      height: 39px;
      border-radius: 50%;
  }

  .title{
      position:absolute;
      /*border: 1px solid red;*/
     color: white;
     white-space: nowrap;
     font-size: 18ps;
     font-weight: bolder;
     line-height: 40px;
     margin-left: 55px;
  }

  .day{
     position: absolute;
     top: 95px;
     left: 925px;
     /*border: 1px solid red;*/
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     background-color: #2bab79;
     line-height: 36px;
     color: white;
  }
  .day2{
     position: absolute;
     top: 500px;
     left: 925px;
     /*border: 1px solid red;*/
     width: 40px;
     height: 40px;
     border-radius: 50%;
     text-align: center;
     background-color: #2bab79;
     line-height: 36px;
     color: white;
  }
  em{
      font-style: normal;
      font-weight: bolder;
  }
  span{
      margin-left: 30px;
  }
  .qui-aside{
      position: absolute;
      top: 0px;
      left: 145px;
      /* border: 1px solid red; */
      width: 200px;
      height: 870px;
      background-color: #2d3741;
  }
  ul{
      list-style: none;
  }

  .nav-aside{
      /* border: 1px solid red; */
      padding: 80px 10px;
  }
  .nav-aside a{
      font-size: 16px;
      color: #ced1d5;
      line-height: 44px;
      padding-left: 15px; 
      text-decoration: none;
      display: block;
  }

  .nav-aside a:hover{
      color: white ;
      background-color: #2bab79;
  }

  .qui-footer{
      /* border: 1px solid red; */
      text-align: center;
      font-size: 10px;
      line-height: 20px;
  }

  .qui-footer a{
      text-decoration: none;
      color: #444;
      margin-left: 60px;
  }